# Ignorar archivos de cuenta de cobro generados localmente
generate_cuenta_cobro.py
cuenta_cobro_*.pdf

# Entorno virtual
venv/
# Secrets
.streamlit/secrets.toml

# Datos grandes
hsbhsbhs.csv

# Python
__pycache__/
*.py[cod]
venv/